openapi: 3.0.1
info:
  title: Thunder Compute Instances SSH Keys API
  description: REST API for Thunder Compute, a low-cost GPU cloud offering on-demand virtual GPU instances billed per minute. The API manages instance lifecycle (create, list, modify, delete), SSH key attachment, forwarded HTTP ports, snapshots, account SSH keys, API tokens, and read-only pricing and GPU specifications. The tnr CLI and the Thunder Compute Terraform provider are both clients of this same API. Endpoints and schemas mirror the published OpenAPI document at https://api.thundercompute.com:8443/openapi.json.
  termsOfService: https://www.thundercompute.com/terms
  contact:
    name: Thunder Compute Support
    email: support@thundercompute.com
  version: '1.0'
servers:
- url: https://api.thundercompute.com:8443/v1
security:
- ApiKeyAuth: []
tags:
- name: SSH Keys
paths:
  /keys/add:
    post:
      operationId: addSSHKey
      tags:
      - SSH Keys
      summary: Add an SSH key to the account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSHKeyAddRequest'
      responses:
        '200':
          description: Key added
          content:
            application/json:
              schema:
                type: object
  /keys/list:
    get:
      operationId: listSSHKeys
      tags:
      - SSH Keys
      summary: List account SSH keys.
      responses:
        '200':
          description: A list of SSH keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SSHKey'
  /keys/{id}:
    delete:
      operationId: deleteSSHKey
      tags:
      - SSH Keys
      summary: Delete an account SSH key.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Key deleted
          content:
            application/json:
              schema:
                type: object
components:
  schemas:
    SSHKey:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        public_key:
          type: string
    SSHKeyAddRequest:
      type: object
      required:
      - name
      - public_key
      properties:
        name:
          type: string
        public_key:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: API token generated in the Thunder Compute console (console.thundercompute.com/settings/tokens), sent as a Bearer token in the Authorization header. The tnr CLI reads it from the TNR_API_TOKEN environment variable.
